<div class="container">
    <%= simple_form_for(@task, html: {class: "form-inline"}) do |f| %>
      <div class="row mt-5 justify-content-around align-items-start">
        <div class="col-9"><%= f.input :description, label: false%></div>
        <div class="col-2"><%= f.submit class: "btn btn-primary"%></div>
      </div>
    <% end %>
  <div id="list-tasks" class="mt-3">
    <% @tasks.each do |task|%>
      <%= simple_form_for(task) do |f| %>
        <%= f.input :done, label: "#{task.description}", as: :boolean, wrapper_html: { class: "card-task" } %>
      <% end %>
    <% end %>
  </div>
</div>
