<div class="container">
    <%= simple_form_for(@task, html: {class: "form-inline"}) do |f| %>
      <div class="row mt-5 justify-content-around align-items-start">
        <div class="col-9"><%= f.input :description, label: false%></div>
        <div class="col-2"><%= f.submit class: "btn btn-primary"%></div>
      </div>
    <% end %>
  <div id="list-tasks" class="mt-3">
    <% @tasks.each do |task|%>
      <div class="card-task d-flex justify-contet-start align-items-center">
        <%= simple_form_for(task) do |f| %>
          <%= f.input :done,
            label: false,
            as: :boolean,
            wrapper_html: { class: "mb-0" }
          %>
        <% end %>
        <%= simple_form_for(task, html: {class: "col-10"}) do |f| %>
          <%= f.input :description,
            label: false,
            value: "#{task.description}"
          %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
